.products1{width: 92%; margin: 20px auto;}
.products1>ul{width: 100%; height: 100%;}
.products1>ul>li{float: left; width: 20%; padding: 15px; text-align: center;}
.products1>ul>li>a>*:not(img){display: block;}